<a href="https://colab.research.google.com/github/ThanhQuynh0202/VoNgocThanhQuynh_20104053/blob/main/06_09_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
with open ('text.txt', mode = 'w') as accounts:
  accounts.write('1 Nguyen Van A 8.0\n')
  accounts.write('2 Le Thi B 6.8\n')

In [ ]:
with open ('text.txt' ,mode = 'w') as accounts:
  print('7:00 Nguyen VAn A' ,file = accounts)
  print('7:01 Le Thi B', file = accounts)

In [ ]:
with open ('text.txt', mode = 'r') as accounts:
  print(f'{'Name':<20} {'score':>20} ')
  for record in accounts:
    name, score = record.split()
    print(f'{'Name':<20} {'score':>20}')

In [ ]:
import pandas as pd 
url = '/content/excel.csv'
dataframe = pd.read_csv(url)
dataframe.head(4)

   STT      MSSV         Name  Score       Khoa
0    1  20104053  Thanh Quynh    7.0        CKM
1    2  20104017    Ngoc Canh    7.1        Hoa
2    3  20104026    Phat Giau    7.2  Ngoai ngu
3    4  20104069     Anh Tuan    7.3        CKM

In [ ]:
import pandas as pd
dataframe = pd.DataFrame()
dataframe["Name"] = ["Thanh Quynh","Ngoc Canh"]
dataframe["Student ID"] = [20104053,20104017]
dataframe["Score"] = [8.0,9.0]
dataframe

          Name  Student ID  Score
0  Thanh Quynh    20104053    8.0
1    Ngoc Canh    20104017    9.0

In [ ]:
import pandas as pd
url = "aaaa.csv"
dataframe = pd.read_csv(url)
dataframe.head(10)

In [ ]:
import pandas as pd
url = "aaaa.csv"
dataframe = pd.read_csv(url)
#dataframe.head(10)
dataframe.iloc[5]

In [ ]:
import pandas as pd
url = "/content/excel3.csv"
dataframe = pd.read_csv(url)
#dataframe.head(10)
dataframe[:4]

   STT      MSSV         Name  Score       Khoa  Year
0    1  20104053  Thanh Quynh    7.0        CKM  2020
1    2  20104017    Ngoc Canh    7.1        Hoa  2020
2    3  20104026    Phat Giau    7.2  Ngoai ngu  2020
3    4  20104069     Anh Tuan    7.3        CKM  2020

In [ ]:
import pandas as pd
url = "/content/excel3.csv"
dataframe = pd.read_csv(url)
#dataframe.head(10)
#dataframe[:4]
dataframe = dataframe.set_index(dataframe["Name"])
dataframe.loc["Thanh Quynh"]

STT                1
MSSV        20104053
Name     Thanh Quynh
Score            7.0
Khoa             CKM
Year            2020
Name: Thanh Quynh, dtype: object

In [ ]:
import pandas as pd
url = "/content/excel3.csv"
dataframe = pd.read_csv(url)
dataframe[dataframe["Khoa"]=="CKM"].head(5)

    STT      MSSV         Name  Score Khoa  Year
0     1  20104053  Thanh Quynh    7.0  CKM  2020
3     4  20104069     Anh Tuan    7.3  CKM  2020
6     7  21146236    Thanh Lan   10.0  CKM  2021
8     9  19143240     Tien Hai   10.0  CKM  2019
10   11  21210536        Van A    9.0  CKM  2021

In [ ]:
import pandas as pd
url = "/content/excel3.csv"
dataframe = pd.read_csv(url)
dataframe[(dataframe["Khoa"]=="CKM") & (dataframe["Year"]==2020)]

   STT      MSSV         Name  Score Khoa  Year
0    1  20104053  Thanh Quynh    7.0  CKM  2020
3    4  20104069     Anh Tuan    7.3  CKM  2020

In [ ]:
import pandas as pd
url = "/content/excel3.csv"
dataframe = pd.read_csv(url)
dataframe["Khoa"].unique()

array(['CKM', 'Hoa', 'Ngoai ngu', 'Dien', 'CLC', 'CKD', 'CNM'],
      dtype=object)

In [ ]:
import pandas as pd
url = "/content/excel3.csv"
dataframe = pd.read_csv(url)
dataframe["Khoa"].value_counts()

CKM          5
Dien         2
Hoa          1
Ngoai ngu    1
CLC          1
CKD          1
CNM          1
Name: Khoa, dtype: int64

In [ ]:
import pandas as pd
url = "/content/excel3.csv"
dataframe = pd.read_csv(url)
dataframe.drop("Khoa", axis=1).head(9)

   STT      MSSV         Name  Score  Year
0    1  20104053  Thanh Quynh    7.0  2020
1    2  20104017    Ngoc Canh    7.1  2020
2    3  20104026    Phat Giau    7.2  2020
3    4  20104069     Anh Tuan    7.3  2020
4    5  20104015        Van A    8.0  2020
5    6  19123456     Vo Van C    9.0  2019
6    7  21146236    Thanh Lan   10.0  2021
7    8  20189364      Thi Cuc    7.8  2020
8    9  19143240     Tien Hai   10.0  2019

In [ ]:
import pandas as pd
url = "/content/excel3.csv"
dataframe = pd.read_csv(url)
dataframe.groupby("Khoa").count()

           STT  MSSV  Name  Score  Year
Khoa
CKD          1     1     1      1     1
CKM          5     5     5      5     5
CLC          1     1     1      1     1
CNM          1     1     1      1     1
Dien         2     2     2      2     2
Hoa          1     1     1      1     1
Ngoai ngu    1     1     1      1     1

In [ ]:
import pandas as pd
url = "http://winterolympicsmedals.com/medals.csv"
data = pd.read_csv(url)
data["NOC"].unique()

array(['AUT', 'BEL', 'CAN', 'FIN', 'FRA', 'GBR', 'NOR', 'SUI', 'SWE',
       'USA', 'GER', 'TCH', 'HUN', 'ITA', 'FRG', 'NED', 'EUA', 'JPN',
       'POL', 'URS', 'PRK', 'GDR', 'ROU', 'ESP', 'LIE', 'BUL', 'YUG',
       'CHN', 'EUN', 'KOR', 'LUX', 'NZL', 'AUS', 'BLR', 'KAZ', 'RUS',
       'SLO', 'UKR', 'UZB', 'CZE', 'DEN', 'CRO', 'EST', 'LAT', 'SVK'],
      dtype=object)

In [ ]:
import pandas as pd
url = "http://winterolympicsmedals.com/medals.csv"
data = pd.read_csv(url)
data[(data["NOC"] == "CAN")]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
54,1928,St. Moritz,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
92,1932,Lake Placid,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
93,1932,Lake Placid,Skating,Figure skating,CAN,individual,M,Bronze
94,1932,Lake Placid,Skating,Speed skating,CAN,10000m,M,Bronze
...,...,...,...,...,...,...,...,...
2105,2006,Turin,Skating,Speed skating,CAN,Team pursuit,W,Silver
2106,2006,Turin,Skiing,Cross Country S,CAN,Sprint 1.5km,W,Gold
2107,2006,Turin,Skiing,Cross Country S,CAN,Team sprint,W,Silver
2108,2006,Turin,Skiing,Freestyle Ski.,CAN,moguls,W,Gold
2109,2006,Turin,Skiing,Snowboard,CAN,Snowboard Cross,W,Bronze

In [ ]:
import pandas as pd
url = "http://winterolympicsmedals.com/medals.csv"
data = pd.read_csv(url)
data[(data["NOC"] == "CAN") & (data["Year"] >= 2000) & (data["Medal"] == "Gold")]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1850,2002,Salt Lake City,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
1851,2002,Salt Lake City,Ice Hockey,Ice Hockey,CAN,ice hockey,W,Gold
1852,2002,Salt Lake City,Skating,Figure skating,CAN,pairs,X,Gold
1856,2002,Salt Lake City,Skating,Short Track S.,CAN,5000m relay,M,Gold
1857,2002,Salt Lake City,Skating,Short Track S.,CAN,500m,M,Gold
1861,2002,Salt Lake City,Skating,Speed skating,CAN,500m,W,Gold
1862,2002,Salt Lake City,Skiing,Cross Country S,CAN,5km pursuit,W,Gold
2087,2006,Turin,Bobsleigh,Skeleton,CAN,individual,M,Gold
2090,2006,Turin,Curling,Curling,CAN,curling,M,Gold
2092,2006,Turin,Ice Hockey,Ice Hockey,CAN,ice hockey,W,Gold
2099,2006,Turin,Skating,Speed skating,CAN,1500m,W,Gold
2103,2006,Turin,Skating,Speed skating,CAN,5000m,W,Gold
2106,2006,Turin,Skiing,Cross Country S,CAN,Sprint 1.5km,W,Gold
2108,2006,Turin,Skiing,Freestyle Ski.,CAN,moguls,W,Gold

In [ ]:
import pandas as pd
url = "http://winterolympicsmedals.com/medals.csv"
data = pd.read_csv(url)
data.groupby((data["NOC"]=="CAN") & (data["Medal"]=="Gold") & (data["Year"]>=2000)).count()

       Year  City  Sport  Discipline   NOC  Event  Event gender  Medal
False  2297  2297   2297        2297  2297   2297          2297   2297
True     14    14     14          14    14     14            14     14